  body {
    padding: 70px 15px 0 15px;
    background-color: #555;
  }
.profile {
  border-radius: 15%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
} 

#portfolio > img {
  display: inline-block;
  margin-bottom: 15px;
}

.form-control {
  border:none;
}

input {
  margin-right:15px;
}
.text-right i {
  color: #666;
}
.text-right  i:hover {
  color: #333;
}
/*
@media (max-width: 767px) {
  body {
    padding-top: 200px;
  }
} 
*/